:root {
  font: 16px;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-image: url('space.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.tiny-pics {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 5%;
}
.profile-pic {
  width: 150px;
  height: 140px;
  border-radius: 3px;
}
.speech-bubble {
  position: relative;
  background: lightgray;
  border-radius: 0.4em;
  opacity: 0.8;
  width: 30%;
  height: 10%;
}
.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 0;
  height: 0;
  border: 35px solid transparent;
  border-top-color: lightgrey;
  border-bottom: 0;
  border-left: 0;
  margin-left: -17.5px;
  margin-bottom: -35px;
  opacity: 0.8;
}
.side-by-side {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 8%;
}
.bubble {
  list-style: none;
  display: flex;
  justify-content: center;
}
.box {
  background-image: url('react.png');
  display: flex;
  width: 100%;
  padding: 4%;
  margin: 0%;
}
.text-box {
  display: flex;
  width: 100%;
  background-color: lightcyan;
  padding: 4%;
  margin: 0%;
  height: 5%;
}
h3 {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin: 8%;
}
.twitter {
  display: flex;
  list-style: none;
  border-radius: 60%;
  justify-content: center;
  /* justify-content: space-between; */
  max-width: 100%;
}
.small-box {
  width: 20%;
  background-color: blue;
  color: white;
  height: 2%;
  float: right;
  text-align: center;
  padding: 1%;
  margin: 0%;
}
